.features {
    margin-top: 115px;
    margin-bottom: 50px;
    
    .features-card-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -15px;

        // @media (max-width: 1140px) {
        //     justify-content: space-evenly;
        // }

        @media (max-width: 1140px) {
            justify-content: space-between;
        }

        @media (max-width: 945px) {
            justify-content: space-evenly;
        }

        .features-card {
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px 85px 15px;

            @media (max-width: 1140px) {
                width: 290px;
                margin: 0px 10px 50px 10px;
                
                .features-card-img {
                    width: 85px;
                    height: 85px;

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

                @media (max-width: 945px) {
                    width: 380px;
                    margin: 0px 15px 50px 15px;

                    .features-card-img {
                        width: 120px;
                        height: 120px;
    
                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .features-card-title {
                margin-top: 30px;
                color: #2D3033;
                font-size: 24px;
                font-weight: 900;
                text-transform: uppercase;

                @media (max-width: 1140px) {
                    margin-top: 24px;
                    font-size: 18px;
                }

                @media (max-width: 945px) {
                    margin-top: 35px;
                    font-size: 26px;
                }

                
            }

            .features-card-description{
                margin-top: 20px;
                color: #6C7279;
                text-align: center;
                font-size: 18px;
                font-weight: 400;

                @media (max-width: 1024px) {
                    font-size: 14px;
                }

                @media (max-width: 945px) {
                    font-size: 20px;
                }
            }   
        }
    }
}