@import url("./_cdn.scss");
@import url("./_fonts.scss");
@import url("./header.scss");
@import url("./features.scss");
@import url("./work.scss");
@import url("./mixins.scss");
@import url("./team.scss");
@import url("./download.scss");
@import url("./social.scss");
@import url("./footer.scss");
@import url("./swiper.scss");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Raleway;
    scroll-behavior: smooth;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;

    @media (max-width: 1024px) {
        max-width: 984px;
    }
}