.swiper {
    .swiper-wrapper {
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 24px;
        }
        .swiper-slide {
            display: flex;
            background-color: #5C3249;
            align-items: center;

            .swiper-slide-img {
                width: 50%;
                height: 490px;

                @media (max-width: 1024px) {
                    height: 332px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                }
            }

            .swiper-slide-description {
                color: #fff;
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & p {
                    width: 471px;
                    font-family: Cardo;
                    font-size: 36px;
                    font-style: italic;
                    font-weight: 400;
                    text-transform: capitalize;

                    @media (max-width: 1024px) {
                        width: 330px;
                        font-size: 24px;
                    }
                }

                .swiper-slide-subtitle {
                    width: 471px;
                    margin-top: 20px;
                    font-size: 13px;
                    font-weight: 700;
                    text-transform: uppercase;

                    @media (max-width: 1024px) {
                        width: 330px;
                        font-size: 12px;
                    }
                }
            }
        }

    }

    .swiper-pagination {
        position: static;
        
        &-bullet {
            width: 14px;
            height: 14px;
            background-color: white;
            border: 1.3px solid #5C3249;

            @media (max-width: 1024px) {
                width: 9px;
                height: 9px;
                border: 1px solid #5C3249;
            }
        }
        &-bullet-active {
            width: 14px;
            height: 14px;
            background-color: #5C3249;

            @media (max-width: 1024px) {
                width: 9px;
                height: 9px;
            }
           } 
        }
    }
    