.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .work-list-item {
        width: 24.8%;
        margin-bottom: 3px;


        @media (max-width: 945px) {
            width: 49.7%;
        }

        .work-item-img {
            width: 100%;
            height: 23.5vw;

            @media (max-width: 945px) {
                height: 49vw;
            }

            & img {
                width: 100%;
                height: 100%;
            }
        }
        
        .work-item-title,
        .work-item-subtitle {
            display: none;
            position: absolute;
            color: #fff;
            z-index: 1;
        }

        & a {
            position: relative;
        }

        & a:hover {
            .work-item-title {
                display: flex;
                top: 35%;
                left: 49%;
                transform: translate(-49%, 0);
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 900;

                @media (max-width: 1424px) {
                    font-size: 18px;
                }

                @media (max-width: 1105px) {
                    font-size: 16px;
                }

                @media (max-width: 945px) {
                    font-size: 28px;
                }
            }

            .work-item-subtitle {
                display: flex;
                top: 60%;
                left: 49%;
                transform: translate(-49%, 0);
                text-transform: capitalize;
                font-size: 18px;
                font-weight: 400;

                @media (max-width: 1424px) {
                    font-size: 14px;
                }

                @media (max-width: 1105px) {
                    font-size: 12px;
                }

                @media (max-width: 945px) {
                    font-size: 20px;
                }
            }
        
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: block;
                    background-color: rgba(255, 67, 67, 0.80);
                    transition: 0.5s;
                }
        }

        & a:active::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;                
            top: 0;
            left: 0;
            display: block;
            background-color: rgba(185, 12, 12, 0.80);
        }
    }
}